@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.comment-container {
    width: 100%;
    display: flex;
    height: auto;
    padding-bottom: 1.5rem;
    gap: 1rem;

    @include tablet {
        margin: 0.5rem auto 0;
        gap: 1.5rem;
    }

    @include desktop {
        margin-top: 1rem;
    }
}

.avatar-container {
    margin-top: 1rem;
    display: flex;

    @include tablet {
        align-content: center;
        align-items: center;
    }

    &__img {
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        object-fit: cover;
        object-position: left;
    }
}

.form-container {
    display: flex;
    flex: 1;
    flex-direction: column;

    @include tablet {
        flex: 8;
        flex-basis: 100%;
    }

    @include desktop {
        flex: 6;
        padding-right: 2rem;
    }

    &__title {
        text-transform: uppercase;
        font-size: $fs-075;
        font-weight: 600;
        color: $primaryDark;

        @include tablet {
            margin-bottom: 0.3rem;
            color: $primaryDark;
        }
    }

    &__input {
        display: flex;
        gap: 0;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: 2rem;
        }

    }

    &__submit {
        background-color: $primaryCta;
        border: 0;
        -webkit-border-radius: 0.3rem;
        -moz-border-radius: 0.3rem;
        -khtml-border-radius: 0.3rem;
        border-radius: 0.3rem;
        padding: 0.6rem;
        color: $secondaryLight;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        font-size: $fs-085;
        margin-top: 1rem;
        background: $primaryCta url("../../assets/icons/add_comment.svg") no-repeat 0.5rem;
        background-size: 1.2rem 1.2rem;

        @include tablet {
            flex: 2;
            font-size: 0.9rem;
            margin-top: 0;
        }

        &:hover {
            background: $secondaryCta url("../../assets/icons/add_comment.svg") no-repeat 0.5rem;
            background-size: 1.2rem 1.2rem;
        }
    }

    &__textarea {
        margin-top: 0.3rem;
        height: 2.5rem;
        border-radius: 0.2rem;
        background-color: #fafafa;
        border: 0;
        outline: solid 0.1rem #e1e1e1;
        padding: 0.7rem;
        font-family: inherit;
        font-size: 1rem;
        resize: none;
        height: 7rem;


        @include tablet {
            height: 2.6rem;
            font-size: 0.9rem;
            flex: 5;
            margin-top: 0;
        }

    }

    ::placeholder {
        color: black;
        font-size: $fs-080;
        font-weight: 400;

        @include tablet {
            font-size: $fs-090;
        }
    }

    &__select,
    &__textarea:focus {
        outline: solid 0.125rem $primaryCta;
    }
}