@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero-container {
    max-width: 100%;
    background-color: $secondary;
    display: flex;
    justify-content: center;

    &__video {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;

        @include tablet {
            max-width: 68rem;
        }
    }
}