@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero-container {
    max-width: 100%;
    background-color: $secondary;
    display: flex;
    justify-content: center;

    @include tablet {
        margin-top: 0.5rem;
    }

    &__video {
        width: 100%;
        object-fit: cover;

        @include desktop {
            max-width: 80rem;
        }
    }
}