@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-aside {
    margin-bottom: 1.5rem;

    @include desktop {
        margin-bottom: 0;
    }

    @include desktop {
        flex-basis: 30%;
        border-left: solid 1px $secondaryDark;
        padding: 2.3rem 0 0 1.5rem;
    }

    &__title {
        text-transform: uppercase;
        font-size: $fs-080;
        color: $primaryDark;
        font-weight: $fw-600;

        @include tablet {
            font-size: $fs-090;
        }
    }
}

.video-list {
    width: 100%;

    @include desktop {
        padding-bottom: 1.5rem;
    }
}