@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.video-list {

    &__item {
        display: flex;
        margin-top: 1.3rem;
        gap: 1rem;
        list-style-type: none;
        cursor: pointer;
    }

    &__thumb {
        max-width: 6.25rem;
        height: 3.75rem;
        border-radius: 0.4rem;
        object-fit: cover;
        background-color: $secondaryDark;
    }
}

.video-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
        width: 30%;
    }

    @include desktop {
        width: 100%;
    }

    &__text {
        line-height: 1.2;
        font-size: $fs-085;
        font-weight: $fw-600;

        @include desktop {
            font-size: $fs-090;
        }
    }

    &__title {
        margin-top: 0.5rem;
        font-size: $fs-085;
        font-weight: $fw-400;

        @include desktop {
            font-size: $fs-090;
        }
    }
}