@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

@use "./styles/partials/variables" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/mixins" as *;

html {
  font-family: 'AvenirNext LT Pro', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

button {
  border: 0;
  background: transparent;
}

hr{
  border: solid 0.01rem $secondaryDark;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  outline: none;
}

a,
a:visited {
  text-decoration: none;
  color: $primary;
}

input[type="text"]{font-family: 'AvenirNext LT Pro', sans-serif;}

.container {
  width: 100%;
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    max-width: 80rem;
    margin: 0 auto;
  }
}

.main-container {
  width: 100%;
  padding: 0 1rem;

  @include tablet {
    padding: 0 2.25rem;
  }

  @include desktop {
    max-width: 80rem;
    margin: 0 auto;
    display: flex;
  }
}